<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4">
    <div class="mb-6">
      <h1 class="text-gray-900 font-bold text-3xl">Todo List</h1>
      <div class="mt-4">
        <%= turbo_frame_tag 'new_todo', class: 'flex' do %>
          <%= form_for :todo, url: todos_path, html: { class: 'w-full', data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' } } do |f| %>
            <div class="form-group flex">
              <%= f.text_field :name, class: 'add-todo-input', placeholder: 'Add Todo' %>
              <%= f.submit 'Add', class: 'add-btn' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= turbo_stream_from 'todos' %>
    <div id="todos">
      <%= render @todos %>
    </div>
  </div>
</div>